<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-header-actions">
            <button type="button" class="btn btn-success" tooltip="Actualiser la page"
                    (click)="initData()">
              <i class="icon-reload"></i>
            </button>
            <button type="button" class="btn btn-primary" tooltip="Ajouter un nouveau utilisateur"
                    (click)="addUser()">
              <i class="icon-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">

          <table mat-table [dataSource]="usersSource" [width]="'100%'" class="mat-elevation-z3">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- firstname Column -->
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef> Nom</th>
              <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
            </ng-container>

            <!-- lastname Column -->
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef> Prénom</th>
              <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
            </ng-container>

            <!-- Rôle Column -->
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef> Rôle</th>
              <td mat-cell *matCellDef="let element" class="text-capitalize"> {{element.role}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email</th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions</th>
              <td mat-cell *matCellDef="let element">
                <button type="button" class="btn btn-sm btn-outline-dark"
                        tooltip="Modifier l'utilisateur: {{element.first_name + ' ' + element.last_name}}"
                        (click)="editUser(element)">
                  <i class="icon-pencil"></i>
                </button>
                <button type="button" class="btn btn-sm btn-outline-danger"
                        tooltip="Supprimer l'utilisateur: {{element.first_name + ' ' + element.last_name}}"
                        (click)="deleteUser(element)">
                  <i class="icon-trash"></i>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
