<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><strong>Paramètres</strong></div>
      <div class="card-body">
        <form [formGroup]="userForm" novalidate="">
          <div class="form-group">
            <p class="font-weight-normal">
              Full name: <strong
              class="text-capitalize">{{userSession.first_name + ' ' + userSession.last_name}}</strong>
            </p>
            <p class="font-weight-normal">
              Email: <strong>{{userSession.email}}</strong>
            </p>
            <p class="font-weight-normal">
              Role: <strong class="text-capitalize">{{userSession.role}}</strong>
            </p>
            <hr/>
          </div>


          <div class="form-group">
            <label for="password">Nouveau mot de passe</label>
            <input type="password" class="form-control" id="password" formControlName="password"
                   placeholder="Entrez votre mot de passe"
                   [ngClass]="{'is-invalid': userForm.controls['password'].invalid && userForm.controls['password'].touched}">

            <div class="invalid-feedback"
                 *ngIf="userForm.controls['password'].invalid && userForm.controls['password'].touched">
              <p *ngIf="userForm.controls['password'].hasError('required')">
                {{frErrSrv.setErrorMessage('required')}}
              </p>
              <p *ngIf="userForm.controls['password'].hasError('minlength')">
                {{frErrSrv.setErrorMessage('minlength', 6)}}
              </p>
            </div>
          </div>
          <div class="form-group">
            <label for="password2">Confirmer le mot de passe</label>
            <input type="password" class="form-control" id="password2" formControlName="password2"
                   placeholder="Confirmer le mot de passe"
                   [ngClass]="{'is-invalid': userForm.controls['password2'].invalid && userForm.controls['password2'].touched}">

            <div class="invalid-feedback"
                 *ngIf="userForm.controls['password2'].invalid && userForm.controls['password2'].touched">
              <p *ngIf="userForm.controls['password2'].hasError('required')">
                {{frErrSrv.setErrorMessage('required')}}
              </p>
              <p *ngIf="userForm.controls['password2'].hasError('minlength')">
                {{frErrSrv.setErrorMessage('minlength', 6)}}
              </p>
              <p *ngIf="userForm.controls['password2'].hasError('match_password')">
                {{frErrSrv.setErrorMessage('match_password')}}
              </p>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" type="button" (click)="changePassword()">
          <i class="fa fa-check-circle-o"></i> Submit
        </button>
        <button class="btn btn-secondary" type="button" (click)="userForm.reset()">
          <i class="fa fa-ban"></i> Reset
        </button>
      </div>
    </div>
  </div>
</div>
