// Here you can add other styles
bs-datepicker-container, bs-daterangepicker-container {
  z-index: 9999 !important;
}

.bs-datepicker-container, .bs-daterangepicker-container {
  z-index: 9999 !important;
}

.cdk-overlay-container {
  z-index: 9998 !important;
}

.callout-purple {
  border-left-color: #8056cd;
}

.logo-preview {
  max-width: 100px !important;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

.slider-preview {
  max-width: 250px !important;
  border: 1px solid #b5916a;
}

.topright {
  position: absolute;
  top: 8px;
  right: 25px;
}


